{
  "builders": [
    {
      "type": "virtualbox-iso",
      "boot_command": [
        "<tab> text ks=http://{{ packer_http_ip }}:{{ packer_http_port }}/ks.cfg<enter><wait>"
      ],
      "boot_wait": "10s",
      "disk_size": "{{ disk_size }}",
      "guest_os_type": "RedHat_64",
      "http_directory": "http",
      "iso_checksum": "{{ sha256 }}",
      "iso_checksum_type": "sha256",
      "iso_url": "{{ url }}",
      "ssh_username": "vagrant",
      "ssh_password": "vagrant",
      "ssh_port": "{{ ssh_port }}",
      "ssh_wait_timeout": "{{ ssh_wait_timeout }}",
      "shutdown_command": "echo '/sbin/halt -h -p' > /tmp/shutdown.sh; echo 'vagrant'|sudo -S sh '/tmp/shutdown.sh'",
      "post_shutdown_delay": "{{ packer_post_shutdown_delay }}",
      "guest_additions_path": "VBoxGuestAdditions_{{ packer_virtualbox_version }}.iso",
      "virtualbox_version_file": ".vbox_version",
      "vboxmanage": [
        [ "modifyvm", "{{ packer_name }}", "--memory", "{{ memory }}" ],
        [ "modifyvm", "{{ packer_name }}", "--cpus", "{{ core }}" ]
      ]
    }
  ]
  "provisioners": [
    {
      "type": "shell",
      "execute_command": "echo 'vagrant'|sudo -S sh '{{ packer_path }}'",
      "override": {
        "virtualbox-iso": {
          "scripts": [
            "scripts/base.sh",
            "scripts/vagrant.sh",
            "scripts/virtualbox.sh",
            "scripts/cleanup.sh"
          ]
        }
      }
    }
  ],
  "post-processors": [
    {
      "type": "vagrant",
      "override": {
        "virtualbox": {
          "output": "output/{{ vm_name }}.box"
        }
      }
    }
  ]
}
