{
    "builders": [
        {
            "type": "virtualbox-iso",
            "boot_command": [
                "<tab><wait>",
                "install <wait>",
                "preseed/url=http://{{ packer_http_ip }}:{{ packer_http_port }}/preseed.cfg <wait>",
                "debian-installer=en_US <wait>",
                "auto <wait>",
                "locale=en_US <wait>",
                "kbd-chooser/method=us <wait>",
                "netcfg/get_hostname={{ packer_name }} <wait>",
                "netcfg/get_domain=acalustra.com <wait>",
                "fb=false <wait>",
                "debconf/frontend=noninteractive <wait>",
                "console-setup/ask_detect=false <wait>",
                "console-keymaps-at/keymap=us <wait>",
                "keyboard-configuration/xkb-keymap=us <wait>",
                "<enter><wait>"
            ],
            "boot_wait": "10s",
            "disk_size": "{{ disk_size }}",
            "guest_os_type": "Debian_64",
            "http_directory": "http",
            "iso_checksum": "{{ md5 }}",
            "iso_checksum_type": "md5",
            "iso_url": "{{ url }}",
            "ssh_username": "vagrant",
            "ssh_password": "vagrant",
            "ssh_port": "{{ ssh_port }}",
            "ssh_wait_timeout": "{{ ssh_wait_timeout }}",
            "vboxmanage": [
                [ "modifyvm", "{{ packer_name }}", "--memory", "{{ memory }}" ],
                [ "modifyvm", "{{ packer_name }}", "--cpus", "{{ core }}" ]
            ]
        }
    ],
    "post-processors": [
        {
            "type": "vagrant",
            "override": {
                "virtualbox": {
                    "output": "output/{{ vm_name }}.box"
                }
            }
        }
    ],
    "provisioners": [
        {
            "type": "shell",
            "execute_command": "echo 'vagrant'|sudo -S sh '{{ packer_path }}'",
            "override": {
                "virtualbox-iso": {
                    "scripts": [
                        "./scripts/base.sh",
                        "./scripts/vagrant.sh",
                        "./scripts/virtualbox.sh",
                        "./scripts/dev.sh",
                        "./scripts/cleanup.sh",
                        "./scripts/zerodisk.sh"
                    ]
                }
            }
        }
    ]
}
